/* Work sense from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

/* Shared styles */

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #ff900e;
    border: none;
    color: white;
    font-size: 1rem;
    margin: 2rem 0 2rem 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}


/* header style */

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 40px 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.nav-title {
    font-size: 2rem;
    color: #131313;
}

nav > ul {
    display: flex;
    /* justify-content: space-between; */
}

nav li {
    list-style: none;
    margin: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner styles */

.banner img {
    width: 100%;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color:  #131313;
    margin: 3rem 0;
}
.description {
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/* main styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}
.teams-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 8rem;
    gap: 3rem;
}
.teams-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}
.teams-content-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.color-primary {
    color: #ff900e;
    font-weight: 700;
}
.color {
    color: #727272;
    font-weight: 500;
}
/* media query */

/* for mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
}

/* for medium or tablet */

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }
}
/* .banner {
    text-align: center;
}
.banner-title {
    font-size: 4rem;
    margin: 80px 0 20px 0;
}
.banner img {
    width: 100%;
}
.description {
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #ff900e;
    border: none;
    color: white;
    font-size: 1rem;
    margin: 1.5rem 0 1.5rem 0;
} */
